<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>

    <div id="app2">
        <span v-bind:title="message">
            see title
        </span>
    </div>

    <div id="app-4">
        <ol>
            <!-- {{ todos.push({ text: 'rest' }) }} -->
            <li v-for='todo in todos'>
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">reverse message</button>
    </div>

    <div id="app-6">
        <!-- {{ console.log('check') }} -->
        <p>{{ message }}</p>
        <input v-model='message'>
    </div>

    <!-- component -->
    <div id="app-7">
        <p>they buy</p>
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    <script src="app.js"></script>
    <script src="vue_component.js"></script>
</body>
</html>